@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*, html {
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(0, 0, 0);
  text-align: center;
}

.pix{
  border-radius: 0 !important;
  width: 30%;
}

html {
  background-image: url('./images/a-transformed.jpeg');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  width: 40vw;
  text-align: center;
  color: #daa520;
  text-shadow: 0 0 16px rgb(20, 20, 20);
}

body {
  font-family: 'Dancing Script', cursive; /* Adicionado para usar a fonte importada */
}

label {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  width: 50vw;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.label:hover {
  border-radius: 20px;
  background-color: rgba(25, 9, 250, 0.164);
}

input {
  border-radius: 10px;
  width: 40vw;
  height: 35px;
  border: 1px solid #ffd90000;
  text-align: center;
  font-size: 32px;
  background-color: #ece6e67e;
}

.button {
  width: 12vw;
  font-size: 25px;
  height: 35px;
  border-radius: 10px;
  color: #051a8b;
  text-align: center;
  background-color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #051a8b;
  color: white;
}
.box:hover{
  background-color: rgba(255, 255, 255, 0.158);
}
img {
  height: 15vh;
  transition: animation 2s;
  border-radius: 20px;
}

.versiculo {
  color: #000000;
  font-size: 25px;
  text-align: justify;
  width: 80%;
  background-color: rgba(240, 248, 255, 0.63);
  border-radius: 15px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: white 1px solid;
  height: 150px;
  background-image: url('../src/images/6dc11726798611a9e2fa758a02188bf9.gif');
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #daa520 1px solid;
  border-top: #daa520 1px solid;
}

.date {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text, .msg {
  font-size: 48px;
  color: rgb(0, 0, 0);
  font-family: 'Dancing Script', cursive;
  text-shadow: 0 0 16px rgb(255, 255, 255);
}

.msg {
  color: rgb(0, 0, 0);
}

.fundoConvite {
  background-color: #051a8b;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/b1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #daa520;
}

.lin:hover {
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 13px;
}

.numeral {
  font-size: 52px;
  padding-left: 15px;
  padding-right: 15px;
  text-shadow: 0 0 14px #daa520ff;
  font-weight: bolder;
}

.mes {
  text-shadow: 0 0 14px #daa520ff;
  font-weight: bolder;
  font-size: 22px !important;
}

@media (max-width: 600px) {
  html {
    background-color: #b6a896 ;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }
 
  .fundo-convite {
    background-color: #b6a896 !important ;
    height: 100vh;
    width: 100vw;
  }
  .picImage{
    display: none;
  }

  .msg {
    font-size: 24px;
  }
  .pix{
    width: 90%;
    padding-left: 17px;
  }
  .pixx{
    font-size: 16px;
    padding: 15px;
  }

  label {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin-top: 25vh;
  }

  label:hover {
    background-color: rgba(255, 255, 255, 0.219);
    width: 90vw;
  }

  input {
    width: 80vw;
    font-size: 30px;
    text-transform: capitalize;
  }

  .button {
    width: 50vw;
  }

  .versiculo {
    text-align: center;
    word-wrap: break-word;
    font-size: small;
  }

  header {
    height: 100px;
  }


  img {
    height: 10vw;
  }

  .fundoConvite {
    background-color: #b6a896 !important ;
    background-image: none;
    display: flex;
    flex-direction: column;
  }

  .text {
    padding-top: 55px;
  }

  .nomeCon {
    text-transform: capitalize;
  }

  .mes {
    padding: 0px !important;
    padding-bottom: 0 !important;
    font-size: 32px;
  }
  .cantoE{
    background-image: url('./images/canto.png');
    background-position: 0;
    display: block;
    width: 100px;
    height: 100px;
    
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    position: absolute;
  }
  .cantoIE{
    background-image: url('./images/canto.png');
    background-position: 0;
    position: absolute;
    top: 85%;
    display: block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  
  }
  .cantoID{
    background-image: url('./images/canto.png');
    background-position: 0;
    display: block;
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    position: absolute;
    left: 60%;
  }
  .cantoD{
    background-image: url('./images/canto.png');
    background-position: 0;
    position: absolute;
    top: 85%;
    left: 60%;
    display: block;
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
  }
}
